# Ignorar todos os arquivos .dll, .exe, .pdb e .json em qualquer diretório
*.dll
*.exe
*.pdb
*.json
*.AssemblyInfo.cs

# Ignorar diretórios bin e obj
bin/
obj/
/blazooooooor/.vs/blazooooooor/config
/blazooooooor/.vs/blazooooooor/CopilotIndices/17.13.433.20974
/blazooooooor/.vs/blazooooooor/FileContentIndex
/blazooooooor/.vs/blazooooooor/v17
/blazooooooor/blazooooooor/obj/Debug/net9.0/apphost.exe
/blazooooooor/blazooooooor/obj/Debug/net9.0/blazooooooor.AssemblyInfoInputs.cache
/blazooooooor/blazooooooor/obj/Debug/net9.0/blazooooooor.AssemblyInfo.cs
/blazooooooor/blazooooooor/obj/Debug/net9.0/blazooooooor.assets.cache
/blazooooooor/blazooooooor/obj/Debug/net9.0/blazooooooor.csproj.FileListAbsolute.txt
/blazooooooor/blazooooooor/obj/Debug/net9.0/blazooooooor.dll
/blazooooooor/blazooooooor/obj/Debug/net9.0/blazooooooor.GeneratedMSBuildEditorConfig.editorconfig
/blazooooooor/blazooooooor/obj/Debug/net9.0/blazooooooor.genruntimeconfig.cache
/blazooooooor/blazooooooor/obj/Debug/net9.0/blazooooooor.pdb
/blazooooooor/blazooooooor/obj/Debug/net9.0/blazooooooor.sourcelink.json
/blazooooooor/blazooooooor/obj/blazooooooor.csproj.nuget.dgspec.json
/blazooooooor/blazooooooor/obj/blazooooooor.csproj.nuget.g.props
/blazooooooor/blazooooooor/obj/project.nuget.cache
/.vs
